@import '../../styles.scss';

$font-size: 1.2rem;

.header {
  padding: 0.3rem $layoutHorizontalPadding 1.2rem;
  border-bottom: 0.1rem solid #eee;

  color: #db5d61;

  &__preTitle {
    font-weight: 400;
    font-size: $font-size;
    margin-right: 0.35rem;
  }
  &__title {
    font-weight: bold;
    font-size: $font-size;
  }
}
